<div>
  
  <%= @tweet.text %>  
  
  <br>
  
  <br>
</div>
<div>
  <h1>Tweet More?</h1>
  <form action="/tweet/new" method="POST">
    <label>Username: (sorry)</label>
    <input type="text" name="username">
    <label>Message:</label>
    <input type="text" name="new_tweet">
    <input type="submit" value="Tweet it!">
  </form>
</div>

